.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color);
  user-select: none;
}

.logo > span {
  color: var(--secondary-color);
  user-select: none;
}
